@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url();

body {
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

/*------------ Login container ------------*/
.box-area {
    width: 930px;
}

/*------------ Right box ------------*/
.right-box {
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/
::placeholder {
    font-size: 16px;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 30px;
}

/*------------ For small screens------------*/
@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;
    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }
}

.form-signin {
    width: 930px;
    padding: 4px 3px 4px 2px;
    border-radius: 20px;
    border-radius: 30px;
    margin: 10px;
}

.featured-image img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .left-box {
        display: none;
    }
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.success-message {
    color: green;
    font-size: 14px;
    margin-top: 5px;
}

.right-box {
    background-color: linear-gradient(to bottom right, #4d4747, #5a5050);
}

/* Additional CSS for the dropdown to open on hover */
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}
.navbar-nav .nav-link:hover {
    color: #00eeff; /* Change text color on hover */
  }
  .btn-primary:hover {
    background-color: #ff0077; /* Change background color on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow effect on hover */
  }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease; /* Smooth transition for modal dialog */
  }
  .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }